* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(252, 228, 232);
}
header {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgb(87, 87, 240);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(13, 13, 165);
    cursor: pointer;
    transition: 0.5s;
}

#Highlights-section {
    border: 2px solid orange;
    width: 70%;
    margin: 0 auto;
}

#Highlights-section > h2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
}

#Highlights-section > p {
    color: rgb(168, 162, 162);
    width: 50%;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}